<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">

        <title>Vacancy Request Manager</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <!-- Style/CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/bower_components/angular-material/angular-material.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/bower_components/angular-material-data-table/dist/md-data-table.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/bower_components/angular-material-icons/angular-material-icons.css}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

        <!-- JS dependencies -->
        <script type="text/javascript" th:src="@{/bower_components/angular/angular.js}"></script>
        <script type="text/javascript" th:src="@{/bower_components/angular-animate/angular-animate.js}"></script>
        <script type="text/javascript" th:src="@{/bower_components/angular-aria/angular-aria.js}"></script>
        <script type="text/javascript" th:src="@{/bower_components/angular-messages/angular-messages.js}"></script>
        <script type="text/javascript" th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
        <script type="text/javascript" th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
        <script type="text/javascript" th:src="@{/bower_components/angular-material/angular-material.js}"></script>
        <script type="text/javascript" th:src="@{/bower_components/angular-material-icons/angular-material-icons.js}"></script>
        <script type="text/javascript" th:src="@{/bower_components/angular-material-data-table/dist/md-data-table.js}"></script>

        <script type="text/javascript" th:src="@{/js/app.js}"></script>
        <script type="text/javascript" th:src="@{/js/commons/appCtrl.js}"></script>
        <script type="text/javascript" th:src="@{/js/home/home.controller.js}"></script>
        <script type="text/javascript" th:src="@{/js/commons/user.service.js}"></script>
        <script type="text/javascript" th:src="@{/js/calendar/Calendar.service.js}"></script>
        <script type="text/javascript" th:src="@{/js/calendar/MyCalendar.Controller.js}"></script>
        <script type="text/javascript" th:src="@{/js/filters/formatJodaTime.js}"></script>
    </head>
    <body ng-app="app" layout="column" ng-controller="appCtrl as appCtrl" ng-cloak="ng-cloak">

        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <md-button ng-click="appCtrl.toggleSidenav('left')" hide-gt-sm="hide-gt-sm" class="md-icon-button">
                    <i class="material-icons">menu</i>
                </md-button>
                <h1>Google Auth + Angular-Material</h1>
            </div>
        </md-toolbar>

        <div layout="row" flex="flex">
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
                <md-list>
                    <md-list-item>
                        <md-button>
                            <div flex="flex" layout="row">
                                <i class="material-icons md-48 md-dark">home</i>
                                <span><a ui-sref="app.home">Home</a></span>
                            </div>
                        </md-button>
                    </md-list-item>
                    <md-list-item ng-if="appCtrl.authenticated">
                        <md-button>
                            <div flex="flex" layout="row">
                                <i class="material-icons md-48 md-dark">people</i>
                                <span><a ui-sref="app.list">Calendrier de mon équipe</a></span>
                            </div>
                        </md-button>
                    </md-list-item>
                    <md-list-item ng-if="appCtrl.authenticated">
                        <md-button>
                            <div flex="flex" layout="row">
                                <i class="material-icons md-48 md-dark">date_range</i>
                                <span><a ui-sref="app.myCalendar">Mes absences</a></span>
                            </div>
                        </md-button>
                    </md-list-item>
                    <md-list-item ng-if="appCtrl.user.hasAuthority('Admin')">
                        <md-button>
                            <div flex="flex" layout="row">
                                <i class="material-icons md-48 md-dark">comment</i>
                                <span><a ui-sref="app.list">Gérer les demandes</a></span>
                            </div>
                        </md-button>
                    </md-list-item>
                    <md-list-item ng-if="appCtrl.authenticated">
                        <md-button>
                            <div flex="flex" layout="row">
                                <i class="material-icons md-48 md-dark">exit_to_app</i>
                                <span><a ng-click="appCtrl.logout()">Logout</a></span>
                            </div>
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-sidenav>

            <div layout="column" flex="flex" id="content">
                <md-content layout="column" flex="flex" class="md-padding">
                    <ui-view/>
                </md-content>
            </div>
        </div>
    </body>
</html>